
.v-w {
  padding: 20rpx;
  border-bottom: 14rpx solid #eee;
  video {
    width: 100%;
    box-shadow: 4rpx 4rpx 8rpx 2rpx #737284;
    .v-c-i {
      width: 60rpx;
      height: 40rpx;
      top: 50%;
      transform: translateY(-50%);
    }
    @d: 30rpx;
    .v-c-i-l {
      left: @d;
    }
    .v-c-i-n {
      right: @d;
    }
  }
}

.v-b {
  padding: 0 20rpx;
  line-height: 50rpx;
  margin-top: 30rpx;
  view {
    word-break: break-all;
  }
}